<div id="modal-capture">
<div class="content">
<button id="close"><i class="uk-icon-close"></i></button>

<div>
<h2>Reopening</h2>
<p>We are very excited to announce that we will be reopening on 17th May 2021 and adhering to the rule of six.</p>
<p>We will have a range of new and improved menus available so don't miss out and book now via our website or email us <a href="mailto:reservations@shaka-zulu.com" title="reservations@shaka-zulu.com">reservations@shaka-zulu.com</a></p>
</div>
{#

<link rel="stylesheet" href="https://emailoctopus.com/bundles/emailoctopuslist/css/formEmbed.css">
<div class="email-octopus-form-wrapper">
    <h2 class="email-octopus-heading">SIGN UP FOR EXCLUSIVE OFFERS!</h2>
    <p>Sign up to our mailing list to receive all the latest news, offers and events.</p>
    <p class="email-octopus-success-message"></p>
    <p class="email-octopus-error-message"></p>
    <form method="post"
      action="https://emailoctopus.com/lists/e64b0950-2893-11e9-a3c9-06b79b628af2/members/embedded/1.3s/add"
      class="email-octopus-form"
      data-sitekey="6LdYsmsUAAAAAPXVTt-ovRsPIJ_IVhvYBBhGvRV6"
    >
        
        <div class="email-octopus-form-row">
            <label for="field_1">First name</label>
            <input id="field_1" name="field_1" type="text" placeholder="">
        </div>
        <div class="email-octopus-form-row">
            <label for="field_2">Last name</label>
            <input id="field_2" name="field_2" type="text" placeholder="">
        </div>
        <div class="email-octopus-form-row">
            <label for="field_0">Email address</label>
            <input id="field_0" name="field_0" type="email" placeholder="">
        </div>

        
    <div class="email-octopus-form-row-consent">
        <input type="checkbox" id="consent" name="consent">
        <label for="consent">I consent to receiving your weekly newsletter and special offers via email.</label>
    </div>

        <div class="email-octopus-form-row-hp" aria-hidden="true">
            <!-- Do not remove this field, otherwise you risk bot sign-ups -->
            <input type="text" name="hpe64b0950-2893-11e9-a3c9-06b79b628af2"
               tabindex="-1"
               autocomplete="nope">
        </div>
        <div class="email-octopus-form-row-subscribe">
            <input type="hidden"
               name="successRedirectUrl"
               value="">
            <button type="submit">Subscribe</button>
        </div>
    </form>
    
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.3/recaptcha.js"></script>
<script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.3/formEmbed.js"></script>
#}

</div>
</div>
