<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

    <head>
        <!--<base href="http://www.shaka-zulu.com/" />-->
        <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no, maximum-scale=1" />
        <meta name="theme-color" content="#000000" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="{% if description %}{{ description }}{% else %}Set over a groundbreaking 27,000 sq ft in The Stables Market, Camden this spectacular two floor restaurant, bar and club offers amazing food, drinks, live music, dancing and daytime family entertainment.{% endif %}" />
        <title>{% if title %}{{ title }} - {% endif %}Shaka Zulu</title>
        <link rel="apple-touch-icon-precomposed" href="/images/design/apple-touch-icon-precomposed.png" />
        <link href="/images/design/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
        <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Titillium+Web" rel="stylesheet"> 
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.27.4/css/uikit.min.css" type="text/css" />
        <link rel="stylesheet" href="/css/theme.css" type="text/css" />
    </head>

    <body>

        <header>
            <div class="container">
                <a href="/" title="Shaka Zulu" class="logo"><img src="/images/design/logo.svg" alt="Shaka Zulu" /></a>
                {% include 'layouts/menu.htm' %}
            </div>
        </header>

        <div id="pusher">

            <section id="top">
                {% block top %}{% endblock %}
            </section>

            <main>
                <div class="uk-container uk-container-center">
                    {% if block('map') %}{% block map %}{% endblock %}{% endif %}
                    <div class="uk-grid">
                        <div class="uk-width-medium-3-4">
                            {% block content %}{% endblock %}
                        </div>
                        <div class="uk-width-medium-1-4 uk-text-center" id="booking-form">
                            <!--<script type='text/javascript' src='//www.opentable.co.uk/widget/reservation/loader?rid=55570&domain=couk&type=standard&theme=standard&lang=en&overlay=false&iframe=true' async></script>-->
                            <!--<p><a href="https://gifts.opentable.co.uk/Shaka-Zulu?ref=otprofile" title="Gift Cards" class="button"><i class="uk-icon-gift uk-icon-justified"></i> Gift Cards</a></p>-->
                            <iframe src="/booking.htm"></iframe>
                            {% if block('sidebar') %}{% block sidebar %}{% endblock %}{% endif %}
                        </div>
                    </div>
                    {% if block('extra') %}{% block extra %}{% endblock %}{% endif %}
                </div>
            </main>

            <section class="offer">
                <div class="uk-container uk-container-center">
                    <div class="uk-grid">
                        <div class="uk-width-small-2-3">
                            <h3>Sign up</h3>
                            <p>Sign up to receive new & Exclusive offers</p>
                        </div>
                        <div class="uk-width-small-1-3">
                            <a href="https://emailoctopus.com/lists/e64b0950-2893-11e9-a3c9-06b79b628af2/forms/subscribe" title="Sign up" class="button">Sign up</a>
                        </div>
                    </div>
                </div>
            </section>

            <footer>
                <div class="uk-container uk-container-center">
                    <div class="uk-grid" itemscope itemtype="http://schema.org/Restaurant">
                        {% include 'footer/contact.htm' %}
                        <div class="uk-width-medium-1-3">
                            {% include 'footer/opening-hours.htm' %}
                        </div>
                    </div>
                </div>
            </footer>

        </div>
{#
        {% include 'layouts/capture.htm' %}
#}
        <script src="/js/app.js" type="text/javascript"></script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-42585328-1', 'auto');
            ga('send', 'pageview');
        </script>

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146532941-3"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-146532941-3');
        </script>

	<!-- Facebook Pixel Code -->
	<script>
	    !function(f,b,e,v,n,t,s)
	    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	    n.queue=[];t=b.createElement(e);t.async=!0;
	    t.src=v;s=b.getElementsByTagName(e)[0];
	    s.parentNode.insertBefore(t,s)}(window, document,'script',
 	    'https://connect.facebook.net/en_US/fbevents.js');
  	    fbq('init', '366386160824394');
	    fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=366386160824394&ev=PageView&noscript=1" /></noscript>
	<!-- End Facebook Pixel Code -->

        {% if block('scripts') %}{% block scripts %}{% endblock %}{% endif %}

    </body>

</html>
