<a href="#" class="uk-icon-bars" id="open-nav"> Menu</a>
<nav>
    <a href="#" class="uk-icon-times" id="close-nav"></a>
    <ul>
        <li{% if title == 'Home' %} class="active"{% endif %}><a href="/" title="Home">Home</a></li>
        <li{% if title == 'Restaurant' %} class="active"{% endif %}><a href="/restaurant" title="Restaurant">Restaurant</a></li>
        <li{% if title == 'Bar' %} class="active"{% endif %}><a href="/bar" title="Bar">Bar</a></li>
        <li{% if title == "King's Club" %} class="active"{% endif %}><a href="/kings-club" title="King's Club">King's Club</a></li>
        <li{% if title == 'Group Bookings' %} class="active"{% endif %}><a href="/group-bookings" title="Group Bookings">Group Bookings</a></li>
        <li{% if title == 'Events' %} class="active"{% endif %}><a href="/events" title="Events">Events</a></li>
        <li{% if title == 'Vouchers' %} class="active"{% endif %}><a href="https://shaka-zulu.giftpro.co.uk/" title="Gift Cards" target="_blank">Gift Cards</a></li>
        <li{% if title == 'Contact Us' %} class="active"{% endif %}><a href="/contact-us" title="Contact Us">Contact Us</a></li>
        <li{% if title == "NYE" %} class="active"{% endif %}><a href="/christmas" title="NYE" class="christmas">NYE</a></li>
        <li><button id="book-now" class="button">Book Now</button></li>
    </ul>
</nav>
