::selection {
    color: #fff;
    background-color: #c9b67e;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    background-color: #111111;
}

body {
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    color: #efefef;
}

#pusher {
    transition: all 0.3s ease-out;
}

#pusher:after {
    content: '';
    display: block;
    position: fixed;
    z-index: -3;
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease-out;
}

body.nav #pusher {
    position: relative;
    transform: translateX(-150px);
}

body.nav #pusher:after {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

h1, h2, h3, h4 {
    font-family: 'EB Garamond', serif;
    color: #c9b67e;
    font-weight: normal;
    line-height: 4rem;
}

h1 {
    font-size: 250%;
    margin: 2% 0;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 175%;
}

h4 {
    font-size: 150%;
}

a {
    font-weight: normal;
    color: #c9b67e;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: none;
    color: #b7a26e
}

.button {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    text-align: center;
    text-transform: uppercase;
    background-color: #c9b67e;
    color: #fff;
    transition: all 0.3s ease-out;
    border: rgba(0, 0, 0, 0.05) 1px solid;
    font-size: 1em;
}

.button:hover {
    background-color: #b7a26e;
    color: #fff;
    text-decoration: none;
}

.button.christmas {    
    background: #2f7336;
    background: linear-gradient(to right, #2f7336, #aa3a38);
}

.hide {
    display: none;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 15px;
    transition: all 0.3s ease-out;
}

header:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    opacity: 0;
    background: linear-gradient(to bottom, #000000 0%, #111111 100%);
    transition: opacity 0.3s ease-out;
}

header.background {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
}

header.background:before {
    opacity: 1;
}

header .uk-container {
    position: relative;
}

header .logo {
    width: 20%;
    min-width: 250px;
    display: inline-block;
    padding: 1rem 0;
}

header a:hover {
    background-color: transparent;
    text-decoration: none;
}

header .container {
    width: 95%;
    margin: 0 auto;
    position: relative;
}

nav .christmas {
    background: #2f7336;
    padding: 0.75rem 1rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    margin-right: 2rem;
}

nav .christmas:hover {
    background: #2f7336;
}

header .logo img {
    width: 100%;
}

header nav {
    position: absolute;
    height: auto;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

header nav #close-nav {
    display: none;
}

header #open-nav {
    display: none;
    color: #fff;
    padding: 0.75rem 1rem;
    text-transform: uppercase;
    position: absolute;
    right: 1rem;
    bottom: 50%;
    transform: translateY(50%);
}

header nav ul, header nav ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a, header nav ul li .button {
    display: block;
    font-family: 'EB Garamond', serif;
    letter-spacing: 2px;
}

header nav ul li a {
    position: relative;
	padding: 5px 3px 5px 5px;
    color: rgba(255, 255, 255, 0.75);
	transition: color 0.3s;
    margin-right: 10px;
}

header nav ul li a::before,
header nav ul li a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 1px;
	background: rgba(255, 255, 255, 0.3);
	content: '';
	opacity: 0;
	transition: opacity 0.3s, transform 0.3s;
	transform: translateY(-10px);
}

header nav ul li a::before {
	top: 0;
	transform: translateY(-10px);
}

header nav ul li a::after {
	bottom: 0;
	transform: translateY(10px);
}

header nav ul li a:hover,
header nav ul li a:focus,
header nav ul li.active a {
	color: rgba(255, 255, 255, 1);
}

header nav ul li a:hover::before,
header nav ul li a:focus::before,
header nav ul li.active a::before,
header nav ul li a:hover::after,
header nav ul li a:focus::after, 
header nav ul li.active a::after {
	opacity: 1;
	transform: translateY(0px);
}

header nav ul li:last-child {
    margin-left: 0.5rem;
}

#top {
    background-color: #111111;
    display: block;
    width: 100%;
    height: 50vw;
    min-height: 300px;
    max-height: 600px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.rotator, #top video {
    position: absolute;
    z-index: -1;
    min-height: 100%;
    height: 100%;
    width: 100%;
    background-size: cover;
    transition: all 0.5s ease;
}

.body-rotator {
    position: relative;
    height: 50vw;
    min-height: 300px;
    max-height: 600px;
    overflow: hidden;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}

#top video {
    min-width: 100%;
    width: auto;
    height: auto;
    overflow: visible;
    top: 0;
}

#top video.snow {
    z-index: 2;
    mix-blend-mode: screen;
    opacity: 0.5;
}

#top .uk-container, .body-rotator .uk-container {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#top h1, .body-rotator h2 {
    width: 100%;
    color: #fff;
    display: block;
    margin-top: 0;
    border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
}

#top .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 3;
}

#top .bauble {
    position: absolute;
    z-index: 3;
    top: 0rem;
    max-width: 200px;
    max-height: 200px;
    width: 15%;
    right: 10%;
    filter: brightness(0.75);
}

#top .bauble img {
    opacity: 1;
    width: 100%;
    top: 0;
    left: 0;
    transform: none;
    transform-origin: 50% 0;
    transform: rotate(-3deg);
    animation: bauble 3s ease-in-out infinite alternate;
}

@keyframes bauble {
    0% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

.rotator img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    min-width: 100%;
    min-height: 100%;
    max-width: inherit;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.rotator img.active {
    opacity: 1;
}

.rotator-pagination {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.rotator-pagination a {
    display: inline-block;
    margin-right: 1rem;
    border-radius: 100%;
    border: #fff 1px solid;
    width: 1rem;
    height: 1rem;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease-out;
}

.rotator-pagination a:last-of-type {
    margin-right: 0;
}

.rotator-pagination a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.rotator-pagination a.active {
    background-color: rgba(255, 255, 255, 1);
}

main {
    padding: 5rem 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 25px;
    position: relative;
    z-index: 2;
}

main h1:first-child {
    margin-top: 0;
}

#ot-widget-container0, #ot-widget-container0 iframe {
    width: 240px;
    height: 300px;
    margin: 0 auto;
}

main p:last-of-type {
    margin-bottom: 0;
}

.quick-links {
    margin-top: 2.5rem;
}

.quick-links a {
    display: block;
    overflow: hidden;
}

.quick-links a img {
    transition: all 0.3s ease-out;
}

.quick-links a:hover img {
    transform: scale(1.25);
}

.quick-links a p {
    position: relative;
    text-align: center;
    background-color: #c9b67e;
    margin-top: 0;
    padding: 1rem 0;
    text-transform: uppercase;
    color: #fff;
}

#map, .responsive-iframe {
    border: 0;
    width: 100%;
    height: 100vw;
    max-height: 600px;
}

.responsive-iframe {
    margin-top: 2.5rem;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    height: auto;
}

.responsive-iframe iframe {
    width: 100%;
    position: absolute;
top: 0;
left: 0;
height: 100%;
}

#map {
    margin-top: -10rem;
    margin-bottom: 5rem;
}

dt {
    color: #c9b67e;
}

dd {
    margin-bottom: 1rem;
}

.image-background {
    margin: 5rem 0;
    padding: 5rem 0;
    background: url(/images/design/general.jpg) top left no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.image-background h2 {
    color: #fff;
    border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
}

.image-background label {
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 0px 2px;
}

input[name="email"], input[name="guest_list[email]"], input[name="club_bar_tables[email]"] {
    display: none;
}

label {
    display: block;
}

input, textarea, select {
    max-width: 100%;
    /* force elements to be 100%. max width will limit them */
    width: 1000px;
    display: inline-block;
}

input[type="submit"] {
    margin-top: 2.5rem;
    color: #fff;
}

#booking-form iframe {
    display: block;
    width: 240px;
    /*height: 100%;*/
    min-height: 325px;
}

.offer {
    background: url(/images/design/offer.jpg) top left no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 5rem 0;
    color: #fff;
}

.offer h3 {
    color: #fff;
    font-size: 3rem;
    line-height: 3rem;
}

footer {
    background-color: #000000;
    background: linear-gradient(to bottom, #111111 0%, #000000 100%);
    padding: 5rem 0;
    color: #d0d0d0;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 25px;
    position: relative;
}

footer h1, footer h2, footer h3, footer h4, footer .normal-weight {
    color: #fff;
}

footer a, footer a:visited {
    color: #d0d0d0;
    transition: all 0.3s ease;
}

footer img {
    max-width: 100%;
}

footer a:hover {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}

footer h4 {
    margin-top: 0;
    border-bottom: rgba(50, 50, 50, 0.15) 1px solid;
    margin-bottom: 2.5rem;
}

footer ul, footer ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li a {
	position: relative;
	display: inline-block;
	margin-bottom: 1%;
	outline: none;
	color: #fff;
}

footer ul li  a:hover,
footer ul li  a:focus {
	outline: none;
}

footer ul li a {
	padding: 0 0 8px 0;
    display: block;
}

footer ul li a::after {
	position: absolute;
	top: -3px;
	left: -3px;
	width: 0;
	height: 100%;
	background: rgba(50, 50, 50, 0.15);
	content: '';
	opacity: 1;
	-webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

footer ul li a:hover::after,
footer ul li a:focus::after {
	opacity: 1;
	width: 100%;
}

footer img[itemprop="logo"] {
    width: 200px;
    display: block;
    margin-bottom: 1rem;
}

#modal-capture {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-out;
    opacity: 0;
    z-index: -1000;
}

#modal-capture.active {
    z-index: 999;
    opacity: 1;
}

#modal-capture:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal-capture .content {
    position: relative;
    z-index: 1000;
    display: block;
    background-color: #000;
    max-width: 600px;
    width: 90%;
    text-align: center;
    padding: 2.5rem 2.5rem 3rem 2.5rem;
    box-shadow: rgba(0, 0, 0, 1) 1px 3px 2.5rem;
    background: url('/images/design/capture.jpg') no-repeat;
    background-size: cover;
}

#modal-capture .content #close {
    position: absolute;
    z-index: 1001;
    cursor: pointer;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: #fff;
    background: none;
    border: none;
}

#modal-capture h2 {
    font-size: 3rem;
}

#modal-capture input {
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}

#modal-capture input[type="checkbox"] {
    display: inline;
    width: auto;
}

#modal-capture label[for="consent"] {
    max-width: 60%;
    display: inline-block;
}

/* kill me. courtesy of http://pajasevi.github.io/CSSnowflakes/ */
.snowflake {
  color: #fff;
  font-size: 1.75em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
  opacity: 0.5;
}

@-webkit-keyframes snowflakes-fall{
    0%{top:-10%; opacity: 1;}
    100%{top:100%; opacity: 0;}
}

@-webkit-keyframes snowflakes-shake{
    0%{-webkit-transform:translateX(0px);transform:translateX(0px)}
    50%{-webkit-transform:translateX(80px);transform:translateX(80px)}
    100%{-webkit-transform:translateX(0px);transform:translateX(0px);}
}

@keyframes snowflakes-fall{0%{top:-10%; opacity: 1;}100%{top:100%; opacity: 0;}}

@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}

.snowflake{position:absolute;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

@media screen and (max-width: 1550px) {

    header nav {
        background-color: #000;
        position: fixed;
        top: 0;
        height: 100vh;
        right: -250px;
        width: 250px;
        transform: translateX(0);
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 25px;
        transition: all 0.3s ease-out;
        text-align: center;
    }

    header nav ul li:last-child {
        margin-left: 0;
    }

    body.nav header nav {
        transform: translateX(-250px);
        box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 25px;
    }

    header #open-nav {
        display: block;
    }

    header nav #close-nav {
        display: block;
        text-align: right;
        color: #fff;
        margin: 2rem 2.5rem;
    }

    header nav ul li {
        display: block;
        width: 100%;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-top: 1rem;
    }

}

@media screen and (max-width: 768px) {

    #top video {
        max-width: inherit;
    }

    #top h1 {
        text-align: center;
        font-size: 3rem;
    }

    main {
        text-align: center;
    }

    main h2 {
        line-height: 3rem;
    }

    main #OT_form {
        margin-top: 25px;
    }

    footer {
        text-align: center;
    }

    footer .uk-text-right {
        text-align: center !important;
    }

    footer .uk-width-medium-1-2 .uk-grid {
        margin-top: 25px;
    }

    footer .uk-grid .uk-width-medium-1-2:first-of-type .uk-grid {
        margin-top: 0;
    }

    footer img[itemprop="logo"] {
        margin: 0 auto 1rem auto;
    }

}

@media screen and (max-width: 480px) {

    header .logo {
        min-width: 175px;
    }

    #top {
        height: 50vw;
        min-height: 500px;
        max-height: 600px;
    }

    main .uk-grid [class*=uk-width], footer .uk-grid [class*=uk-width] {
        margin-top: 25px;
    }

    main .uk-grid [class*=uk-width]:first-child, footer .uk-grid [class*=uk-width]:first-child {
        margin-top: 0;
    }

    #offer h3 {
        text-align: center;
    }

    #offer p {
        text-align: center;
        margin-bottom: 3rem;
    }

}

