<div class="uk-width-medium-1-3">

    <h4>Where we are</h4>

    <img itemprop="logo" src="/images/design/logo.svg" alt="Shaka Zulu">

    <span itemprop="name" class="normal-weight">Shaka Zulu</span>

    <p itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
        <a href="https://www.google.co.uk/maps/place/Shaka+Zulu/@51.5415301,-0.1468241,15z/data=!4m2!3m1!1s0x0:0xd7b807c675a058ef?sa=X&ved=0ahUKEwjs_Z6p1IjVAhWjIcAKHRQCDoMQ_BIIrQEwEg" title="Google Map">
            <span itemprop="streetAddress">Camden Market,<br> Chalk Farm Road</span>,<br>
            <span itemprop="addressLocality">Camden</span>,<br>
            <span itemprop="addressRegion">London</span> <span itemprop="postalCode">NW1 8AB</span>
        </a>
    </p>

</div>

<div class="uk-width-medium-1-3">

    <h4>Contact Us</h4>

    <i class="uk-icon-envelope-o uk-icon-justify"></i> &nbsp;<a href="mailto:info@shaka-zulu.com" title="info@shaka-zulu.com" itemprop="email">info@shaka-zulu.com</a><br />
    <i class="uk-icon-phone uk-icon-justify"></i> &nbsp;<a href="tel:0203 376 9911" title="0203 376 9911" itemprop="telephone">0203 376 9911</a><br />
    <i class="uk-icon-link uk-icon-justify"></i> &nbsp;<a itemprop="url" href="http://www.shaka-zulu.com">www.shaka-zulu.com</a>

    <span itemprop="servesCuisine" class="hide">Pan Asian</span>

    <p>
        <a href="https://instagram.com/shakazululdn" title="Instagram"><i class="uk-icon-instagram uk-icon-justify"></i> &nbsp;@shakazululdn</a><br />
        <a href="https://twitter.com/ShakaZuluLondon" title="Twitter"><i class="uk-icon-twitter uk-icon-justify"></i> &nbsp;@ShakaZuluLondon</a><br />
        <a href="https://www.facebook.com/shakazululondon" title="Facebook"><i class="uk-icon-facebook uk-icon-justify"></i> &nbsp;@shakazululondon</a>
    </p>

</div>
