<h4>Opening Times</h4>
<p>
    Mon: 17:00 to 23:00<br />
    Tue: 17:00 to 23:00<br />
    Wed: 17:00 to 23:00<br />
    Thu: 17:00 to 00:00<br />
    Fri: 12:00 to 02:00<br />
    Sat: 12:00 to 02:00<br />
    Sun: 12:00 to 23:00
</p>
