{% extends "layouts/default.htm" %}

{% block top %}
<div class="rotator" data-images='["/images/bar/1.jpg", "/images/bar/2.jpg", "/images/bar/3.jpg", "/images/bar/4.jpg"]' data-title="{{ title }}">
    <div class="uk-container">
        <h1>{{ title }}</h1>
    </div>
    <div class="rotator-pagination">
        <a href="#" title="{{ title }}" data-item="0" onclick="loadTopImage(this); return false;"></a>
        <a href="#" title="{{ title }}" data-item="1" onclick="loadTopImage(this); return false;"></a>
        <a href="#" title="{{ title }}" data-item="2" onclick="loadTopImage(this); return false;"></a>
        <a href="#" title="{{ title }}" data-item="3" onclick="loadTopImage(this); return false;"></a>
    </div>
</div>
{% endblock %}

{% block content %}

<h2>The Bar</h2>
<p>The mezzanine level of Shaka Zulu houses our Champagne & Oyster Bar, and Cocktail Lounge which overlook the main restaurant. Our award winning mixologists stir and shake up a range of delicious cocktails to be served in the breathtaking surroundings of Shaka Zulu. Whether it is for a celebratory bottle of fizz or a tasty cocktail, the mezzanine provides the perfect setting with the guaranteed "wow" factor.</p>
<p>The Shaka Zulu Lounge Bar stretches seductively over the mezzanine level of the venue offering guests panoramic views across both floors of this breathtaking venue making it the idea location for a pre-dinner cocktail or glass of champagne.</p>
<p>Guests can soak up the atmosphere and sample some casual dishes from our bar menu whilst enjoying our evening's entertainment. We also off the opportunity to book a booth in the bar area for the evening.</p>
<p>With an extensive list of classic cocktails with a twist, Champagnes, spirits, beers together with the UK's largest South African wine menu catering either by the glass or by the bottle, you can be sure to find the right drink for any occasion, budget or taste.</p>
<p>The Lounge Bar offers drinking tables which can be booked in advance.</p>
<p>For information on drinking tables, please contact our Reservations Team on <a href="tel:020 3376 9911" title="020 3376 9911">020 3376 9911</a> or email <a href="mailto:reservations@shaka-zulu.com" title="reservations@shaka-zulu.com">reservations@shaka-zulu.com</a>.</p>

<p>&nbsp;</p>

<div class="uk-grid">
    <div class="uk-width-small-1-2">
        <a href="/menus/Bar%20Food%20Menu.pdf" title="Bar Food Menu" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> Bar Food Menu</a>
    </div>
    <div class="uk-width-small-1-2">
        <a href="/menus/Drinks%20Menu.pdf" title="Drinks Menu" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> Drinks Menu</a>
    </div>
</div>

<div class="uk-grid">
    <div class="uk-width-small-1-2">
        <a href="/menus/Burger%20Menu.pdf" title="Burger Menu" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> Burger Menu</a>
    </div>
    <div class="uk-width-small-1-2">
        <a href="/menus/Wine%20List.pdf" title="Wine List" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> Wine List</a>
    </div>
</div>

<div id="modal">
    <i class="uk-icon-times" id="close"></i>
    <div>
        <h4>2-4-1 Cocktails</h4>
        <p>Sign up now to receive your voucher</p>
        <p><a href="http://poweredby.coniq.com/signup/0chj2f4" title="2-4-1 Cocktails" class="button">Sign up</a></p>
    </div>
</div>

<style>
#booking-form {
display: none;
}
</style>

<style>
#modal {
    display: none;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 300px;
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 0.5rem 2.5rem 2rem 2.5rem;
}
#modal.active {
    display: block;
}
#modal div {
    position: relative;
    z-index: 1000;
}
#modal #close {
    position: absolute;
    font-size: 2rem;
    top: -0.9rem;
    right: -0.75rem;
    z-index: 1001;
    cursor: pointer;
}
#modal:before {
    display: block;
    content: '';
    position: fixed;
    z-index: 998;
    top: -2000%;
    right: -2000%;
    bottom: -2000%;
    left: -2000%;
    background-color: rgba(0, 0, 0, 0.75);
}
</style>
<script>
var modal = document.getElementById('modal');
var close = document.getElementById('close');
close.onclick = function() {
    modal.classList.remove('active');
}
/*setTimeout(function() {
    modal.classList.add('active');
}, 5000);*/
</script>
{% endblock %}

{% block sidebar %}
{#<div id="offers">
    <a href="/images/home/offer1.jpg" title="Happy Hour"><img src="/images/home/offer1.jpg" title="Happy Hour" /></a>
    <a href="/images/home/offer7.jpg" title="No Minimum Spend"><img src="/images/home/offer7.jpg" title="No Minimum Spend" /></a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
<script>
$('#offers').slick({
    autoplay: true,
    slidesToShow: 1,
    slidesToScroll: 1,
    dots: true,
    arrows: false
});
</script>#}
{% endblock %}
