{% extends "layouts/christmas.htm" %}

{% block top %}
<div class="rotator" data-images='["/images/christmas/header.jpg"]' data-title="{{ title }}">
    <div class="rotator-pagination">
        <a href="#" title="{{ title }}" data-item="0" onclick="loadTopImage(this); return false;"></a>
    </div>
    <a href="/christmas" title="Shaka Zulu" class="logo">
        <img src="/images/christmas/logo.png" alt="Shaka Zulu" class="active" />
    </a>
</div>
{% endblock %}

{% block content %}
<div id="christmas">
{#    <div>
        <div class="content" style="background: linear-gradient(to bottom right, #CC231E, #F5624D);">
            <h1>Shared Christmas Parties</h1>
            <p>Shaka Zulu is a one of a kind, must see venue at Christmas. Let us take your Christmas party to the next level and enjoy a breath taking experience from start to finish. With unique cocktails, delicious set menus offering all the Christmas classics, mixed with a South African Infusion, and a prestigious selection of entertainment, Shaka Zulu is incomparable to anywhere in London and the only place to celebrate this year!</p>
            <p>Book Now for lunch or dinner!</p>
            <p>Speak to our reservations team today on <a href="tel:0203 376 9911" title="0203 376 9911">0203 376 9911</a> or email <a href="mailto:reservations@shaka-zulu.com" title="reservations@shaka-zulu.com">reservations@shaka-zulu.com</a></p>
<p><a href="/menus/Christmas%20Brochure.pdf" title="Christmas" class="button">Christmas Brochure</a></p>
<img src="/images/christmas/tinsel.png" style="margin-top: 2rem;">
        </div>
    </div>
    <div>
        <div class="slider">
            <img src="/images/christmas/food.jpg" alt="Christmas" />
            <img src="/images/christmas/drink.jpg" alt="Christmas" />
            <img src="/images/christmas/entertainment.jpg" alt="Christmas" />
        </div>
    </div>
    <div>
        <img src="/images/christmas/menus.jpg" alt="Christmas" class="standalone" />
    </div>
    <div>
        <div class="content" style="background: linear-gradient(to bottom right, #0F8A5F, #34A65F);">
            <h2>Christmas Menus</h2>
            <p>Our highly experienced head chefs have put together an exquisite range of set menus, canapes and bowl food to suit every one of your catering needs. Enjoy the perfect festive favourites wrapped in the spirit of Shaka Zulu. Book Now for lunch or dinner!</p>
            <p>Speak to our reservations team today on 0203 376 9911 or email <a href="mailto:reservations@shaka-zulu.com" title="reservations@shaka-zulu.com">reservations@shaka-zulu.com</a></a></p>
            <p><a href="/menus/Christmas45.pdf" title="£45 Menu" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> £45 Menu</a></p>
            <p><a href="/menus/Christmas55.pdf" title="£55 Menu" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> £55 Menu</a></p>
            <p><a href="/menus/Christmas%20Bowl%20Food%20Menu.pdf" title="Bowl Food Menu" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> Bowl Food Menu</a></p>
            <p><a href="/menus/Christmas%20Canape%20Menu.pdf" title="Canapé Menu" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> Canapé Menu</a></p>
            <p><a href="/menus/Christmas%20Set%20Menu.pdf" title="Set Menu" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> Set Menu</a></p>
        </div>
    </div>

    <div>
        <div class="slider">
            <img src="/images/christmas/christmas_corporate_1.jpg" alt="Christmas" />
            <img src="/images/christmas/christmas_corporate_2.jpg" alt="Christmas" />
            <img src="/images/christmas/christmas_corporate_3.jpg" alt="Christmas" />
        </div>
    </div>
    <div>
        <div class="content" style="background: linear-gradient(to bottom right, #0F8A5F, #34A65F);">
            <h1>Corporate Hire</h1>
            <p>Shaka Zulu is a truly unique events space, which quickly established itself as one of the capitals top party and entertainment venues. Hosting three breath taking spaces perfect for semi-exclusive or exclusive events, a range of catering and drinks reception options as well as entertainment packages that are not to be missed! Book your Christmas party with us today! Speak to our Events team on <a href="tel:0203 376 9911" title="0203 376 9911">0203 376 9911</a> or email <a href="events@enhancedhospitality.co.uk" title="events@enhancedhospitality.co.uk">events@enhancedhospitality.co.uk</a></p>
<img src="/images/christmas/tinsel.png" style="margin-top: 2rem;">
        </div>
    </div>
#}
    <div>
        <div class="content" style="background: linear-gradient(to bottom right, #CC231E, #F5624D);">
            <h1>NYE at Shaka Zulu</h1>
            <p><a href="/menus/NYE%20Brochure.pdf" title="NYE Brochure" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> NYE Brochure</a></p>
            <p><a href="/menus/NYE%20Menu.pdf" title="NYE Menu" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> NYE Menu</a></p>
            <p><a href="https://www.fatsoma.com/products/cgayl734/nye-shaka-zulu?website_origin=https%3A%2F%2Fwww.shaka-zulu.com&widget_id=649b5b8b-6044-47df-8303-983b3231c409&_gClientId=1403470603.1630657309&_ga=2.181469671.1545793946.1636973880-1403470603.1630657309" title="Buy Tickets" class="button"><i class="uk-icon-book uk-icon-justified"></i> Buy Tickets</a></p>
            <img src="/images/christmas/tinsel.png" style="margin-top: 2rem;">
        </div>
    </div>
    <div>
        <div class="slider">
            <img src="/images/christmas/entertainment1.jpg" alt="Christmas" />
            <img src="/images/christmas/entertainment2.jpg" alt="Christmas" />
            <img src="/images/christmas/party_entertainment.jpg" alt="Christmas" />
        </div>
    </div>
</div>

{#
<div id="corporate">
    <img src="/images/christmas/corporate_bg.jpg" alt="Christmas" />
    <div class="content" style="background: linear-gradient(to bottom right, #CC231E, #F5624D);">
        <h2>Corporate Hire</h2>
        <p>Shaka Zulu is a truly unique events space, which quickly established itself as one of the capitals top party and entertainment venues. Hosting three breath taking spaces perfect for semi-exclusive or exclusive events, a range of catering and drinks reception options as well as entertainment packages that are not to be missed! Book your Christmas party with us today! Speak to our Events team on  0203 376 9911 or email <a href="mailto:events@enhancedhospitality.co.uk" title="events@enhancedhospitality.co.uk">events@enhancedhospitality.co.uk</a></p>
    </div>
</div>
#}

<!-- tinsel provided by https://pngimg.com/image/95279 -->
<style>
* {
    min-height: 0;
    min-width: 0;
}
@font-face {
    font-family: 'brian_straitregular';
    src: url('/fonts/brian_strait-webfont.woff2') format('woff2'),
         url('/fonts/brian_strait-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
#christmas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5rem;
    text-align: center;
}
#christmas .content {
    max-width: 600px;
    padding: 2rem 5rem 2.5rem 5rem;
    margin-left: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    border: rgba(255, 255, 255, 0.25) 1px solid;
}
#christmas div:nth-child(2n) .content {
    margin-left: inherit;
    margin-right: auto;
}
#christmas .slider {
    width: 100%;
}
#christmas h1 {
    font-family: 'brian_straitregular';
    font-size: 7.5rem;
    line-height: 6rem;
    text-shadow: #c9b67e 0px 0px 1rem;
}

#christmas img {
    width: 100%;
}
#christmas img.standalone {
    margin-left: auto;
    display: block;
}
#christmas .slick-slide {
    max-height: 500px;
}
#corporate {
    margin-top: 2.5rem;
    position: relative;
    overflow: hidden;
}
#corporate img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
}
#corporate .content {
    position: relative;
    z-index: 2;
    margin: 5rem auto;
    width: 45vw;
    max-width: 600px;
    background-color: #000;
    padding: 2rem 2.5rem 2.5rem 2.5rem;
    transform: translateX(-50%);
}
@media (max-width: 768px) {
    #christmas {
        grid-template-columns: 1fr;
    }
    #christmas .content, #christmas div:nth-child(2n) .content {
        margin-left: auto;
        margin-right: auto;
        padding: 2.5rem;
        width: 90%;
    }
    #christmas img.standalone {
        margin-left: inherit;
        max-width: 100%;
        display: none;
    }
    #corporate .content {
        width: 90%;
        transform: inherit;
    }
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
{% endblock %}

