{% extends "layouts/default.htm" %}

{% block top %}
<div class="rotator" data-title="{{ title }}">
    <img src="/images/contact/1.jpg" alt="{{ title }}" class="active" />
    <div class="uk-container">
        <h1>{{ title }}</h1>
    </div>
</div>
{% endblock %}

{% block map %}
<div class="responsive-iframe" id="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9925.814277008445!2d-0.1464894!3d51.5415815!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd7b807c675a058ef!2sShaka%20Zulu!5e0!3m2!1sen!2suk!4v1605779401229!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
{#
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChQSNwLoWAWXcMG9_dnYPgFzZTOFiILEc"></script>
<div id="map"></div>
<script type="text/javascript" src="/js/map.js"></script>
#}
{% endblock %}

{% block content %}

<h2>Shaka Zulu</h2>
<p><a href="https://www.google.co.uk/maps/place/Shaka+Zulu/@51.5415301,-0.1468241,15z/data=!4m2!3m1!1s0x0:0xd7b807c675a058ef?sa=X&ved=0ahUKEwjs_Z6p1IjVAhWjIcAKHRQCDoMQ_BIIrQEwEg" title="Google Map">Camden Market,<br />Chalk Farm Road,<br />Camden,<br />London NW1 8AH</p>
<p>
    <a href="mailto:info@shaka-zulu.com" title="info@shaka-zulu.com">info@shaka-zulu.com</a><br />
    <a href="tel:0203 376 9911" title="0203 376 9911">0203 376 9911</a><br />
    <a href="https://www.shaka-zulu.com" title="Website">www.shaka-zulu.com
</p>
<p>
    All Reservation Enquiries<br />
    <a href="tel:0203 376 9911" title="0203 376 9911">0203 376 9911</a><br />
    <a href="mailto:reservations@shaka-zulu.com" title="reservations@shaka-zulu.com">reservations@shaka-zulu.com</a>
</p>

<p>After a great night with us, consider a comfortable night's sleep with our Hotel Partner, Holiday Inn, Camden Lock:<br />
<a href="https://hicamdenlock.co.uk/" title="Holiday Inn Camden Lock"><img src="/images/Holiday-Inn-Logo.png" alt="Holiday Inn Camden Lock" /></a>
</p>

{% endblock %}

{% block extra %}

</div>

<div class="image-background">
    <div class="uk-container uk-container-center">
        <h2>Contact Us</h2>
        <form method="POST" action="/contact-us/contact" class="uk-form uk-form-stacked" id="contact">

            {% if message %}<div class="uk-alert uk-alert-success">{{ message }}</div>{% endif %}

            <div class="uk-grid">

                <input type="hidden" name="{{ csrf.nameKey }}" value="{{ csrf.name }}" />
                <input type="hidden" name="{{ csrf.valueKey }}" value="{{ csrf.value }}" />
                <input type="email" name="email" />

                <div class="uk-width-small-1-2">

                    <div class="uk-form-row">
                        <label>Subject</label>
                        <select name="subject">
                            <option value="General Question">General Question</option>
                            <option value="Praise">Praise</option>
                            <option value="Complaint">Complaint</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>

                    <div class="uk-form-row">
                        <label>Your Name</label>
                        <div class="uk-form-icon">
                            <i class="uk-icon-user"></i>
                            <input type="text" name="name" placeholder="Your Name" required>
                        </div>
                    </div>

                    <div class="uk-form-row">
                        <label>Your Email</label>
                        <div class="uk-form-icon">
                            <i class="uk-icon-envelope"></i>
                            <input type="email" name="emailaddress" placeholder="Your Email" required>
                        </div>
                    </div>

                    <div class="uk-form-row">
                        <label>Your Phone</label>
                        <div class="uk-form-icon">
                            <i class="uk-icon-phone"></i>
                            <input type="text" name="phone" placeholder="Your Phone" required>
                        </div>
                    </div>

                </div>
                <div class="uk-width-small-1-2">

                    <div class="uk-form-row">
                        <label>Your Message</label>
                        <textarea name="message" rows="8" required></textarea>
                    </div>

                </div>
            </div>

            <div class="uk-form-row"><label><input style="display: inline; width: auto; margin-top: 2.5rem" type="checkbox" required /> You agree to our <a href="/privacy-policy" Title="Privacy Policy" target="_blank">Privacy Policy</a></label></div>

            <input type="submit" class="button" />

        </form>
    </div>
</div>

<div class="uk-container uk-container-center">

    <h3>FAQs</h3>
    <dl class="uk-column-small-1-2">

<dt id="welcoming-bookings">Are you welcoming bookings of all sizes?</dt>
<dd>From 19th July onwards, we're delighted to be able to book you in and group size limitations will no longer apply!</dd>

<dt id="safety-measures">What safety measures are you taking when you re-open?</dt>
<dd>It's time to sing, dance, and have fun with your friends at Shaka Zulu but we will still have some things in place to keep everyone safe:
<ul>
<li>We're reducing our capacity down from pre-COVID times</li>
<li>Order & Pay from your table will still be available</li>
<li>Hand sanitiser stations will still be available throughout our venues</li>
<li>We are a Cashless venue, we accept card and contactless payments</li>
<li>Our enhanced cleaning measures will remain in place</li>
</ul>
</dd>

<dt id="face-mask">Am I required to wear a face mask in your venue & will your teams be wearing masks?</dt>
<dd>Our staff will continue to wear face coverings. We request that guests wear face coverings in the venue however this is not compulsory</dd>

        <dt id="disabled-access">
            Is there disabled access?</dt>
        <dd>
            Yes, we have full disabled access with a lift between floors and a disabled toilet on the lower level.</dd>
        <dt id="dress-code">
            What is the dress code?</dt>
        <dd>Men: Please wear a shirt and smart shoes.<br>
            Ladies: Please wear smart shoes or high heels.<br>
            No trainers, designer trainers, sportswear or hats are permitted. We also do not allow any fancy dress or paraphernalia. Failure to adhere to our dress code could result in your entry being refused.</dd>
        <dt id="member">
            Do you need to be a member to gain entry?</dt>
        <dd>No, anyone can come and enjoy the Shaka Zulu experience.</dd>
        <dt id="set-menu">
            Do you have a set menu?</dt>
        <dd>We certainly do! All of our menus are available to view on the "Restaurant" and "Group Bookings" website pages.  If you have any menu queries, just get in touch and our reservations team will be happy to help.</dd>
        <dt id="children">
            Are children allowed in the restaurant?</dt>
        <dd>
            Children are welcome in the venue until 9pm, after which time we are an 18+ venue.</dd>
        <dt id="own-wine">
            Can I bring my own wine?</dt>
        <dd>
            We don't allow guests to bring their own wine, but with a wine list of over 100 wines we are confident you will find plenty to choose from!</dd>
        <dt id="tube">
            What is the nearest tube station?</dt>
        <dd>
            Camden Town station is the closest underground station, and is on the Northern Line. Take the exit on the right hand side and continue to turn right on to the main road. Continue walking for about 300 metres until you reach the overhead rail bridge, and take a left. You will see a 20ft warrior status just ahead of you marking our entrance.</dd>
        <dt id="time">
            What time does the club open?</dt>
        <dd>
            The Kings Club opens from 10pm. The Lounge Bar is open from 5pm so you are welcome to come and enjoy some drinks before heading to the club.</dd>
        <dt id="parking">
            Is there parking at Shaka Zulu?</dt>
        <dd>
            We don't have our own car park unfortunately, but there is plenty of parking around. You can usually park in Hawley Road and Leybourne Road just ensure you check any pay and display restrictions.</dd>
        <dt id="private-dining">
            Do you have a private dining room?</dt>
        <dd>We have two private dining spaces available; one which can hold 60-80 guests, and one which can accommodate 80-120 diners.</dd>
        <dt id="private-function">
            Can I hire the bar for a private function?</dt>
        <dd>
            Of course, please contact our events team on events@shaka-zulu.com to discuss the available options.</dd>
        <dt id="halal">
            Is your food halal?</dt>
        <dd>
            Our chicken is halal. If you are arranging an event or private function, we can arrange for the meat to be halal.</dd>
        <dt id="age">
            What is the age requirement for the club and what ID can I use?</dt>
        <dd>Shaka Zulu is a strictly 18+ venue on Friday &amp; Saturday nights from 9pm.  Anyone under the age of 18 will be required to vacate the premises by 9pm.  All guests will be asked for valid photo ID on arrival. Only a valid passport or driving licence will be acceptable forms of identification.  Your ID will be scanned upon entry.</dd>
    </dl>
{% endblock %}
