{% extends "layouts/default.htm" %}

{% block top %}
<div class="rotator" data-title="{{ title }}">
    <img src="/images/events/1.jpg" alt="{{ title }}" class="active">
    <div class="uk-container">
        <h1>{{ title }}</h1>
    </div>
</div>
{% endblock %}

{% block content %}

<h2>Hosting an Event?</h2>
<p>Shaka Zulu has become one of the most sought after venues in London, having hosted parties for both high end corporate guests, and the rich and famous. Shaka Zulu is a truly unique events space, which quickly established itself as one of the capitals top party venues. The venue features several semi-private area, a fully equipped green room for performing artists and a state-of-the-art Martin Audio sound system to create the perfect event. Canape and corporate menus can be adapted to the clients tastes and requirements.</p>
<div class="uk-grid">
    <div class="uk-width-small-1-2">
        <ul>
            <li>Full venue hire</li>
            <li>Showcases</li>
            <li>Live Performances</li>
            <li>Product Launches</li>
            <li>Charity events with preferential rates</li>
            <li>Private dinners</li>
            <li>Simchas</li>
            <li>Bar/Batmitzvahs</li>
            <li>Birthday celebrations</li>
            <li>Weddings & engagements</li>
            <li>Canape & bowl food parties</li>
        </div>
    <div class="uk-width-small-1-2">
        <ul>
            <li><strong>Capacities:</strong></li>
            <li>Standing full venue: 750</li>
            <li>Seated lower level: 350</li>
            <li>Seated mezzanine level: 110</li>
            <li>Disabled access to both floors</li>
        </ul>
    </div>
</div>

<p>For all events and restaurant bookings of 50 guests and under please contact <a href="mailto:reservations@shaka-zulu.com" title="reservations@shaka-zulu.com">reservations@shaka-zulu.com</a><br />
For events of 51 Guests and more please contact <a href="mailto:events@shaka-zulu.com" title="events@shaka-zulu.com">events@shaka-zulu.com</a></p>

<p>&nbsp;</p>

<div class="uk-grid">
    <div class="uk-width-1-2">
        <a href="/menus/Events%20Brochure.pdf" title="Events Brochure" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> Events Brochure</a>
    </div>
    <div class="uk-width-1-2">
        <a href="/menus/Cocktail%20Masterclass.pdf" title="Cocktail Masterclass" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> Cocktail Masterclass</a>
    </div>
</div>

<div class="uk-grid">
    <div class="uk-width-small-1-2">
        <a href="/menus/Events%20Wine%20Menu.pdf" title="Events Wine Menu" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> Events Wine Menu</a>
    </div>
    <div class="uk-width-small-1-2">
        <a href="/menus/Events%20Cocktail%20Menu.pdf" title="Events Cocktail Menu" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> Events Cocktail Menu</a>
    </div>
</div>

<div class="uk-grid">
    <div class="uk-width-small-1-2">
        <a href="/menus/Events%20Canape%20Menu.pdf" title="Events Canapé Menu" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> Events Canapé Menu</a>
    </div>
    <div class="uk-width-small-1-2">
        <a href="/menus/Events%20Bowl%20Food%20Menu.pdf" title="Events Bowl Food Menu" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> Events Bowl Food Menu</a>
    </div>
</div>

{% endblock %}
