{% extends "layouts/default.htm" %}

{% block top %}
<div class="rotator" data-title="{{ title }}">
    <img src="/images/giftcards/1.jpg" alt="{{ title }}" class="active" />
    <div class="uk-container">
        <h1>{{ title }}</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<h2>The perfect present</h2>
<p>The Perfect Present to impress all food lovers.</p>
<p>Gift Cards are the perfect present and can be delivered directly to the recipients door in a variety of amounts.<br /><br /></p>

<form method="POST" class="uk-form uk-form-stacked" id="gitfcards">

    {% if message %}<div class="uk-alert uk-alert-success">{{ message }}</div>{% endif %}

    <input type="hidden" name="{{ csrf.nameKey }}" value="{{ csrf.name }}" />
    <input type="hidden" name="{{ csrf.valueKey }}" value="{{ csrf.value }}" />
    <input type="email" name="email" />

    <div class="uk-grid">
        <div class="uk-width-small-1-2">

            <div class="uk-form-row">
                <label>Gift Card Value</label>
                <select name="value" required>
                    {% for i in 1..20 %}
                    <option value="{{ i * 25 }}">£{{ i * 25 }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="uk-form-row">
                <label>Your Name</label>
                <div class="uk-form-icon">
                    <i class="uk-icon-user"></i>
                    <input type="text" name="name" placeholder="Your Name" required />
                </div>
            </div>

            <div class="uk-form-row">
                <label>Your Email</label>
                <div class="uk-form-icon">
                    <i class="uk-icon-envelope"></i>
                    <input type="email" name="emailaddress" placeholder="Your Email" required />
                </div>
            </div>

            <div class="uk-form-row">
                <label>Your Phone</label>
                <div class="uk-form-icon">
                    <i class="uk-icon-phone"></i>
                    <input type="text" name="phone" placeholder="Your Phone" required />
                </div>
            </div>

            <div class="uk-form-row">
                <label>Promo Code</label>
                <input type="text" name="promo" placeholder="Promo Code" />
            </div>

        </div>
        <div class="uk-width-small-1-2">

            <div class="uk-form-row">
                <label>Recipient Name</label>
                <input type="text" name="r_name" placeholder="Recipient Name" required />
            </div>

            <div class="uk-form-row">
                <label>Recipient Address</label>
                <textarea name="r_address" placeholder="Recipient Address" rows="4" required></textarea>
            </div>

            <div class="uk-form-row">
                <label>Gift Message</label>
                <textarea name="message" placeholder="Gift Message" rows="3" required></textarea>
            </div>

        </div>
    </div>

    <input type="submit" class="button" />

</form>
{% endblock %}

{% block extra %}
<p>&nbsp;</p>
<h2>How To Use</h2>

<p>At the end of the dining experience at Shaka Zulu, the holder presents their gift card to the waiter and the bill amount will be deducted from the balance.</p>
<p>Should the funds on the gift card be less than the total bill, the remainder can be paid by an alternative method.</p>
<p>Gifts cards will be sent to the recipient. If you would like the gift card sent directly to yourself please enter your details in the form.</p>
<p>Please allow up to 5 working days for your gift card to be delivered via first class post.</p>

<p>KEY TERMS AND CONDITIONS<br />
<ul>
    <li>Black Friday Promotion codes can only be used between 26th December 2016 and 30th November 2017 excludes New Years Eve and Valentines Day.</li>
    <li>Please note that we currently offer delivery to the UK only.</li>
    <li>Treat your Shaka Zulu gift card as cash.</li>
    <li>Gift cards can be bought for amounts between £25 and £500.</li>
    <li>The balance on a Gift Card cannot be exchanged for cash.</li>
    <li>Your Gift Card balance will expire if it is not used to make a purchase during a period of 12 consecutive months.</li>
</ul>

<small><p>TERMS & CONDITIONS<br />
A Gift Card can be used towards one booking and the full value must be used<br />
Gift Cards cannot be used online, or for payment via the telephone.<br />
Gift Cards can be purchased for amounts between £25 - £500.<br />
When products are purchased using a Gift Card, no change will be given in cash.<br />
Where a Gift Card holder wishes to buy products with a value higher than the balance on the Gift Card, he/she will be required to pay the difference in value.<br />
A Gift Card cannot be used to buy age restricted products unless the purchaser can prove he/she is of at least the relevant age.<br />
A Gift Card will expire and any remaining balance will be removed if the Gift Card is not used to make a purchase, during a period of 12 consecutive months.<br />
Please look after the Gift Card and treat it like cash. We do not collect and maintain information on the holders of Gift Cards and therefore, if a Gift Card is used without the consent of the Gift Card holder or is lost, stolen or damaged we cannot replace or reimburse the balance on the Gift Card.</p>
</small>

{% endblock %}