{% extends "layouts/default.htm" %}

{% block top %}
<div class="rotator" data-images='["/images/group-bookings/1.jpg", "/images/group-bookings/2.jpg", "/images/group-bookings/3.jpg"]' data-title="{{ title }}">
    <div class="uk-container">
        <h1>{{ title }}</h1>
    </div>
    <div class="rotator-pagination">
        <a href="#" title="{{ title }}" data-item="0" onclick="loadTopImage(this); return false;"></a>
        <a href="#" title="{{ title }}" data-item="1" onclick="loadTopImage(this); return false;"></a>
        <a href="#" title="{{ title }}" data-item="2" onclick="loadTopImage(this); return false;"></a>
    </div>
</div>
{% endblock %}

{% block content %}

<h2>Having a party?</h2>
<p>For events of 50 Guests and under please contact <a href="mailto:reservations@shaka-zulu.com" title="reservations@shaka-zulu.com">reservations@shaka-zulu.com</a><br />
For events of 51 Guests and more please contact <a href="mailto:events@shaka-zulu.com" title="events@shaka-zulu.com">events@shaka-zulu.com</a></p>

<p>&nbsp;</p>

<div class="uk-grid">
    <div class="uk-width-1-2">
        <a href="/menus/Warrior%20Menu.pdf" title="Warrior Menu" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> Warrior Menu</a>
    </div>
    <div class="uk-width-small-1-2">
        <a href="/menus/Celebration%20Packages.png" title="Celebration Packages" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> Celebration Packages</a>
    </div>
</div>

{% endblock %}

{% block sidebar %}
{#<a href="/images/home/offer6.jpg" title="Free Cocktail Sharer"><img src="/images/home/offer6.jpg" title="Free Cocktail Sharer" /></a>#}
{% endblock %}
