{% extends "layouts/default.htm" %}

{% block top %}
<div class="snowflakes" aria-hidden="true">
  <div class="snowflake">
  ❄
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
</div>

<div class="rotator" data-images='["/images/christmas/nye.jpg", "/images/home/1.jpg", "/images/home/2.jpg", "/images/home/3.jpg", "/images/home/4.jpg"]' data-title="{{ title }}">
    <div class="rotator-pagination">
        <a href="#" title="{{ title }}" data-item="0" onclick="loadTopImage(this); return false;"></a>
        <a href="#" title="{{ title }}" data-item="1" onclick="loadTopImage(this); return false;"></a>
        <a href="#" title="{{ title }}" data-item="2" onclick="loadTopImage(this); return false;"></a>
        <a href="#" title="{{ title }}" data-item="3" onclick="loadTopImage(this); return false;"></a>
        <a href="#" title="{{ title }}" data-item="4" onclick="loadTopImage(this); return false;"></a>
    </div>
</div>

{#<img src="/images/design/logo.svg" alt="Shaka Zulu" class="logo" />#}

<div class="logo">
    <a href="/christmas" title="NYE"><img src="/images/christmas/nye-logo.png" alt="Shaka Zulu"><button class="button" style="margin-top: 1rem;">View our NYE Packages</button></a>
<br /><a href="/menus/Covid%20Statement.pdf" alt="Covid19" style="background-color: rgba(200, 50, 50); color: #fff; text-decoration: none; padding: 1rem; display: block; text-align: center">COVID-19 | MEASURES TO MITIGATE THE SPREAD AND ENSURE YOUR SAFETY.</a>
    {#<img src="/images/design/logo.svg" alt="Shaka Zulu">#}

{#<div class="opening">
    <p style="text-align: center; margin-bottom: 0; margin-top: 1.5rem;">Reopening!</p>
    <h2 style="text-align:  center; margin-top: -0.5rem;">Join us again in...</h2>

    <div class="timer">
        <div class="unit">
            <span class="days">0</span>
            Days
        </div>
        <div class="unit">
            <span class="hours">0</span>
            Hours
        </div>
        <div class="unit">
            <span class="minutes">0</span>
            Minutes
        </div>
        <div class="unit">
            <span class="seconds">0</span>
            Seconds
        </div>
    </div>
</div>

    <style>
    .timer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .unit {
        display: flex;
        flex-direction:  column;
        align-items:  center;
        text-transform: uppercase;
    }
    .unit span {
        font-size: 3rem;
    }
    </style>

<script>
var time = Date.parse("2020-07-10 17:00:00");
var timer = document.querySelector('#top .timer');

function getTime() {

var time = Date.parse("2020-07-10 17:00:00");
var timer = document.querySelector('#top .timer');

    var now = Date.now();
    var diff = Math.abs(time - now) / 1000;

    if (time > now) {

        var days = Math.floor(diff / 86400);
        timer.querySelector('.days').innerHTML = days;

        diff -= days * 86400;

        var hours = Math.floor(diff/ 3600) % 24;
        timer.querySelector('.hours').innerHTML = hours;

        diff -= hours * 3600;

        var minutes = Math.floor(diff / 60) % 60;
        timer.querySelector('.minutes').innerHTML = minutes;

        diff -= minutes * 60;

        timer.querySelector('.seconds').innerHTML = Math.floor(diff % 60);
	
    }
    else {
        document.querySelector('#top .opening').innerHTML = '<h2 style="text-align: center; margin-top: 1.5rem;">We are open!</h2>';
    }

}

getTime();
setInterval(getTime, 1000);
</script>
#}
    {#<a href="https://www.enhancedhospitality.co.uk/covid19.pdf" alt="Covid19" style="background-color: rgba(200, 50, 50); color: #fff; text-decoration: none; padding: 1rem; display: block; text-align: center">COVID-19 | MEASURES TO MITIGATE THE SPREAD AND ENSURE YOUR SAFETY.</a>#}
</div>

{% endblock %}

{% block content %}
<h1>About Us</h1>
<p>Shaka Zulu, London's largest South African restaurant, opened its doors in August 2010 with a special royal blessing from the Zulu King, HRH Goodwill Zwelithini. Set over a groundbreaking 27,000 sq ft in The Stables Market, Camden this spectacular two floor restaurant, bar and club offers amazing food, drinks, live music, dancing and daytime family entertainment.</p>
<p>The lower floor of this stunning venue is complemented by a display of 20ft high warrior statues and the Mezzanine level offers a champagne bar and cocktail lounge overlooking the stunning braai restaurant. Carved wooden murals cover every inch of Shaka Zulu's walls and ceiling making it a beautiful space to host private events and parties.</p>
<br /><br />
{% endblock %}

{% block extra %}
{#<div id="offers">
    <a href="/images/home/offer5.jpg" title="Free Bottle of Wine"><img src="/images/home/offer5.jpg" title="Free Bottle of Wine" /></a>
    <a href="/images/home/offer6.jpg" title="Free Cocktail Sharer"><img src="/images/home/offer6.jpg" title="Free Cocktail Sharer" /></a>
    <a href="/images/home/offer7.jpg" title="No Minimum Spend"><img src="/images/home/offer7.jpg" title="No Minimum Spend" /></a>
    <a href="/images/home/offer8.jpg" title="Buy one get one free"><img src="/images/home/offer8.jpg" title="Buy one get one free" /></a>

</div>#}

<br />
<div class="uk-grid quick-links">
    <div class="uk-width-small-1-4">
        <a href="/restaurant" title="Restaurant"><img src="/images/home/restaurant.jpg" alt="Restaurant" /><p>Restaurant</p></a>
    </div>
    <div class="uk-width-small-1-4">
        <a href="/kings-club" title="Club"><img src="/images/home/club.jpg" alt="Club" /><p>Club</p></a>
    </div>
    <div class="uk-width-small-1-4">
        <a href="/events" title="Events"><img src="/images/home/events.jpg" alt="Events" /><p>Events</p></a>
    </div>
    <div class="uk-width-small-1-4">
        <a href="/group-bookings" title="Group Bookings"><img src="/images/home/party.jpg" alt="Party Packages" /><p>Party Packages</p></a>
    </div>
</div>
<p>&nbsp;</p>
<h2>What's On</h2>
{#<script src="https://next.fatsoma.com/widgets/scripts/events.js" data-reference="1d52fcdb-4206-4e32-bd86-b417e412c011"></script>#}
<script src="https://www.fatsoma.com/widgets/scripts/events.js" data-reference="649b5b8b-6044-47df-8303-983b3231c409"></script>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
<script>
$('#offers').slick({
    autoplay: true,
    slidesToShow: 2,
    slidesToScroll: 2,
    dots: true,
    arrows: false
});
</script>
<style>
#offers {
    margin: 2.5rem 0;
}
.slick-dots li.slick-active button:before, .slick-dots li button:before {
    color: #fff;
}
.slick-slide {
    margin: 0 1.25rem;
}
.slick-list {
    margin: 0 -1.25rem;
}
</style>
{% endblock %}
