{% extends "layouts/default.htm" %}

{% block top %}
<div class="rotator" data-images='["/images/kings-club/1.jpg", "/images/kings-club/2.jpg", "/images/kings-club/3.jpg", "/images/kings-club/4.jpg"]' data-title="{{ title }}">
    <div class="uk-container">
        <h1>{{ title }}</h1>
    </div>
    <div class="rotator-pagination">
        <a href="#" title="{{ title }}" data-item="0" onclick="loadTopImage(this); return false;"></a>
        <a href="#" title="{{ title }}" data-item="1" onclick="loadTopImage(this); return false;"></a>
        <a href="#" title="{{ title }}" data-item="2" onclick="loadTopImage(this); return false;"></a>
        <a href="#" title="{{ title }}" data-item="3" onclick="loadTopImage(this); return false;"></a>
    </div>
</div>
{% endblock %}

{% block content %}

<h2>The King's Club</h2>
<p>Shaka Zulu operates one of London's most successful clubs during the weekends. The Kings Club offers a stunning backdrop to all drinks occasions, whether pre or post dinner, incorporating a nightly entertainment including live entertainment and DJ's. Customers can take advantage of the extensive cocktail list as well as reserving drinking tables for larger groups, or choosing one of our club packages.</p>

<p>Tables in the Kings Club have a minimum spend and a deposit is required. <br />
For information on drinking tables, please contact our Reservations Team on 020 3376 9911 or email <a href="mailto:reservations@shaka-zulu.com" title="reservations@shaka-zulu.com">reservations@shaka-zulu.com</a> </p>

<style>
#booking-form {
display: none;
}
</style>

<div class="uk-grid">
    <div class="uk-width-1-1">
        <a href="/menus/Bottle%20Menu.pdf" title="Bottle Menu" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> Bottle Menu</a>
    </div>
</div>

<p>&nbsp;</p>

{% endblock %}

{% block extra %}

</div>

<div class="uk-container uk-container-center">
    <h2>What's On</h2>
<script src="https://www.fatsoma.com/widgets/scripts/events.js" data-reference="649b5b8b-6044-47df-8303-983b3231c409"></script>
</div>

<div class="image-background">
    <div class="uk-container uk-container-center">

        <h2>Guest List</h2>
        <form method="POST" action="/kings-club/guest-list" class="uk-form uk-form-stacked" id="guest-list">

            {% if guest_list_message %}<div class="uk-alert uk-alert-success">{{ guest_list_message }}</div>{% endif %}

            <p>Please submit your guest list below with full names for approval. We require first and surnames of all guests, and this must match the name on guests' ID. We will be in touch to confirm your guest list. Each group can have up to 50% male guests. All guests must bring valid photo ID with them (passport or driving licence).</p>
            <p>Dress Code for men: smart shoes and shirt. No trainers, designer trainers, sportswear or hats. Ladies: high heels or smart shoes. We do not allow any fancy dress or paraphernalia.</p>
            <br />

            <input type="hidden" name="{{ csrf.nameKey }}" value="{{ csrf.name }}" />
            <input type="hidden" name="{{ csrf.valueKey }}" value="{{ csrf.value }}" />
            <input type="email" name="guest_list[email]" />

            <div class="uk-grid">
                <div class="uk-width-medium-1-3">

                    <div class="uk-form-row">
                        <label>Your Name</label>
                        <div class="uk-form-icon">
                            <i class="uk-icon-user"></i>
                            <input type="text" name="guest_list[name]" placeholder="Your Name" required>
                        </div>
                    </div>

                    <div class="uk-form-row">
                        <label>Your Email</label>
                        <div class="uk-form-icon">
                            <i class="uk-icon-envelope"></i>
                            <input type="email" name="guest_list[emailaddress]" placeholder="Your Email" required>
                        </div>
                    </div>

                    <div class="uk-form-row">
                        <label>Your Phone</label>
                        <div class="uk-form-icon">
                            <i class="uk-icon-phone"></i>
                            <input type="text" name="guest_list[phone]" placeholder="Your Phone" required>
                        </div>
                    </div>

                    <div class="uk-form-row">
                        <label>Date</label>
                        <div class="uk-form-icon">
                            <i class="uk-icon-calendar"></i>
                            <input type="date" name="guest_list[date]" placeholder="Date" required>
                        </div>
                    </div>

                </div>
                <div class="uk-width-medium-1-3">
                    <div class="uk-form-row">
                        <label>Male Names</label>
                        <textarea name="guest_list[males]" placeholder="Male Names" rows="9" required></textarea>
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    <div class="uk-form-row">
                        <label>Female Names</label>
                        <textarea name="guest_list[females]" placeholder="Female Names" rows="9" required></textarea>
                    </div>
                </div>
            </div>
            <div class="uk-form-row"><label><input style="display: inline; width: auto; margin-top: 2.5rem" type="checkbox" required /> You agree to our <a href="/privacy-policy" Title="Privacy Policy" target="_blank">Privacy Policy</a></label></div>
            <input type="submit" class="button" />
        </form>

    </div>
</div>

<div class="uk-container uk-container-center">

    <h2>Club Bar Tables</h2>

    <form method="POST" action="/kings-club/club-bar-tables" class="uk-form uk-form-stacked" id="club-bar-tables">

        {% if club_bar_tables_message %}<div class="uk-alert uk-alert-success">{{ club_bar_tables_message }}</div>{% endif %}

        <p>To enquire about a drinking table in the Bar or Club, please contact us on 0203 376 9911 or by filling in the enquiry form below. We will get back to you as soon as we can.</p>
        <p>Each group can have up to 50% male guests. All guests must bring valid photo ID with them (passport or driving licence).</p>
        <p>Dress Code: Smart shoes and shirt. No trainers, designer trainers, sportswear or hats. Ladies High Heels or smart shoes. We do not allow any fancy dress or paraphernalia.</p>
        <br />

        <input type="hidden" name="{{ csrf.nameKey }}" value="{{ csrf.name }}" />
        <input type="hidden" name="{{ csrf.valueKey }}" value="{{ csrf.value }}" />
        <input type="email" name="club_bar_tables[email]" />

        <div class="uk-grid">
            <div class="uk-width-medium-1-2">

                <div class="uk-form-row">
                    <label>Your Name</label>
                    <div class="uk-form-icon">
                        <i class="uk-icon-user"></i>
                        <input type="text" name="club_bar_tables[name]" placeholder="Your Name" required>
                    </div>
                </div>

                <div class="uk-form-row">
                    <label>Your Email</label>
                    <div class="uk-form-icon">
                        <i class="uk-icon-envelope"></i>
                        <input type="email" name="club_bar_tables[emailaddress]" placeholder="Your Email" required>
                    </div>
                </div>

                <div class="uk-form-row">
                    <label>Your Phone</label>
                    <div class="uk-form-icon">
                        <i class="uk-icon-phone"></i>
                        <input type="text" name="club_bar_tables[phone]" placeholder="Your Phone" required>
                    </div>
                </div>

                <div class="uk-form-row">
                    <label>Date</label>
                    <div class="uk-form-icon">
                        <i class="uk-icon-calendar"></i>
                        <input type="date" name="club_bar_tables[date]" placeholder="Date" required>
                    </div>
                </div>

            </div>
            <div class="uk-width-medium-1-2">

                <div class="uk-form-row">
                    <label>Party Size</label>
                    <div class="uk-form-icon">
                        <i class="uk-icon-users"></i>
                        <input type="number" name="club_bar_tables[party_size]" placeholder="1" min="1" step="1" required>
                    </div>
                </div>

                <div class="uk-form-row">
                    <label>Additional Information</label>
                    <textarea name="club_bar_tables[message]" placeholder="Additional Information" rows="6" required></textarea>
                </div>

            </div>
        </div>
        <div class="uk-form-row"><label><input style="display: inline; width: auto; margin-top: 2.5rem" type="checkbox" required /> You agree to our <a href="/privacy-policy" Title="Privacy Policy" target="_blank">Privacy Policy</a></label></div>
        <input type="submit" class="button" />
    </form>
</div>
{% endblock %}

{% block sidebar %}
{#<a href="/images/home/offer7.jpg" title="No Minimum Spend"><img src="/images/home/offer7.jpg" title="No Minimum Spend" /></a>#}
{% endblock %}
