{% extends "layouts/default.htm" %}

{% block top %}
<div class="rotator" data-title="{{ title }}">
    <img src="/images/contact/1.jpg" alt="{{ title }}" class="active" />
    <div class="uk-container">
        <h1>{{ title }}</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<h1>Privacy Policy</h1>
<h2><span>About this policy</span></h2>

<p>Shaka Zulu&nbsp;is committed to protecting your privacy and ensuring that your personal information is handled in a safe and responsible way. This policy outlines how we aim to achieve this and includes the information collected when:</p>

<ul>
	<li>

		<p><span>you use our website (www.shaka-zulu.com)</span></p>
	</li>
	<li>

		<p>you make a booking on our website.</p>
	</li>
	<li>

		<p><span>you make enquiries on our website.</span></p>
	</li>
	<li>

		<p>you contact us by telephone</p>
	</li>
	<li>

		<p><span>someone is interested in working with us.</span></p>
	</li>
</ul>

<h2>Definition of Personal Data</h2>

<p><span>Personal Data means any data that relates to an identifiable person who can be directly/indirectly identified from that data. In this case, it means personal data that you give to us via our site or when speaking to us on the telephone.</span></p>

<p>By providing your personal data, you agree that we can use your personal data in accordance with this policy.</p>

<p><span>Please ensure you understand this policy in its entirety and take your time to read it.</span></p>

<h2>Who are we?</h2>

<p><span>Shaka Zulu&nbsp;is a restaurant/venue based in London.</span></p>

<p>Our address is: Camden Market, Chalk Farm Road, London NW1 8AB</p>

<h2><span>How do we collect information from you?</span></h2>

<p>We collect information from you:</p>

<ul>
	<li>

		<p><span>when you make a booking.</span></p>
	</li>
	<li>

		<p>when you visit a restaurant (preferences, allergies etc.).</p>
	</li>
	<li>

		<p><span>make an enquiry.</span></p>
	</li>
	<li>

		<p>when you sign up to marketing emails.</p>
	</li>
</ul>

<h2><span>What type of information is collected from you?</span></h2>

<p>You may be asked to submit personal information about yourself when you make a booking. We will collect this information so we can fulfil your booking request and you may dine at our venue.</p>

<p><span>When you make a booking:</span></p>

<p>Shaka Zulu&nbsp;collects information such as:</p>

<ul>
	<li>

		<p><span>title</span></p>
	</li>
	<li>

		<p>name</p>
	</li>
	<li>

		<p><span>e-mail address (used for booking confirmation and post-dining feedback emails)</span></p>
	</li>
	<li>

		<p>home or work address</p>
	</li>
	<li>

		<p><span>billing information taken for deposits, ticketing, or holding credit card information for</span></p>
	</li>
</ul>

<p>use in the case of no-shows (where applicable)</p>

<ul>
	<li>

		<p><span>telephone number</span></p>
	</li>
	<li>

		<p>company name</p>
	</li>
	<li>

		<p><span>dietary requests</span></p>
	</li>
	<li>

		<p>marketing preferences (whether you opt-in or opt-out)</p>
	</li>
</ul>

<p><span>When you dine at&nbsp;Shaka Zulu:</span></p>

<ul>
	<li>

		<p>marketing responses (where applicable)</p>
	</li>
	<li>

		<p><span>survey responses</span></p>
	</li>
	<li>

		<p>current and past restaurant reservation details</p>
	</li>
</ul>

<p><span>When you access our sites:</span></p>

<p>There is “Device Information” about your computer hardware and software that is automatically collected by&nbsp;Shaka Zulu. This information can include:</p>

<ul>
	<li>

		<p><span>device type (e.g. mobile, computer, laptop, tablet)</span></p>
	</li>
	<li>

		<p>cookies</p>
	</li>
	<li>

		<p><span>operating system</span></p>
	</li>
	<li>

		<p>IP address</p>
	</li>
	<li>

		<p><span>browser type</span></p>
	</li>
	<li>

		<p>browser information (e.g., type, language, and history)</p>
	</li>
	<li>

		<p><span>domain names</span></p>
	</li>
	<li>

		<p>access times</p>
	</li>
	<li>

		<p><span>settings</span></p>
	</li>
	<li>

		<p>referring website addresses</p>
	</li>
	<li>

		<p><span>other data about your device to provide the services as otherwise described in this policy.</span></p>
	</li>
</ul>

<p>Location information:</p>

<p><span>If you use our website, we may receive your generic location (such as city or neighbourhood).</span></p>

<p>Careers:</p>

<p><span>You may submit your CV if you’re interested in working for us to&nbsp;info@shaka-zulu.com. This information may include:</span></p>

<ul>
	<li>

		<p>personal details</p>
	</li>
	<li>

		<p><span>employment details</span></p>
	</li>
	<li>

		<p>education</p>
	</li>
	<li>

		<p><span>salary history</span></p>
	</li>
	<li>

		<p>other relevant details</p>
	</li>
</ul>

<p><span>We will use this information to assess your application. We may also keep it in our records for future reference. Please get in contact if you would no longer like us to hold your records at&nbsp;info@shaka-zulu.com.</span></p>

<h2>How is your information used?</h2>

<p><span>Our use of your personal data will always have a lawful basis, either because it is necessary to complete a booking, because you have consented to our use of your personal data (e.g. by subscribing to emails), or because it is in our legitimate interests.&nbsp;</span></p>

<p>We require the information outlined in the previous section to understand your needs and provide you with a better service, and in particular for the following reasons:</p>

<ul>
	<li>

		<p><span>Internal record keeping.</span></p>
	</li>
	<li>

		<p>Send you service emails (booking confirmation and post-dining feedback).</p>
	</li>
	<li>

		<p><span>Improve our products and services.</span></p>
	</li>
	<li>

		<p>Send marketing communications if you have opted in to receive them.</p>
	</li>
	<li>

		<p><span>We may use the information to customise the website according to your interests.</span></p>
	</li>
</ul>

<h2>Who has access to your information?</h2>

<p><span>We will not sell, distribute, or lease your personal information to third parties.&nbsp;Any personal information we request from you will be safeguarded under current legislation.</span></p>

<p>We will only share your information with companies if necessary to deliver services on our behalf. &nbsp;For example service providers (e.g. OpenTable for the provision of online bookings), third-party payment processors, and other third parties to provide our Sites and fulfil your requests, and as otherwise consented to by you or as permitted by applicable law.</p>

<p><span>Third parties (including Holiday Inn) whose content appears on our Site may use third-party Cookies, as detailed below. Please refer to ‘Use of Cookies’ for more information on controlling Cookies. Please note that we do not control the activities of such third parties, nor the data they collect and use and advise you to check the privacy policies of any such third parties.</span></p>

<p>You may choose to restrict the collection or use of your personal information at any point. &nbsp;Please refer to the Your Choices section of this Privacy Policy for details.</p>

<h2><span>How and where do we store data?</span></h2>

<p>We only keep your personal data for as long as we need to in order to use it as described in this privacy policy, and/or for as long as we have your permission to keep it.</p>

<h2><span>Profiling</span></h2>

<p>We may analyse your personal information to create a profile of your interests and preferences so that we can contact you with information relevant to you. We may make use of additional information about you when it is available from external sources to help us do this effectively.</p>

<h2><span>Your choices</span></h2>

<p>We will not contact you for marketing purposes by email, phone or text message unless you have given your prior consent. We will not pass your details to any third parties for marketing purposes unless you have expressly permitted us to. Furthermore, you can change your marketing preferences at any time by contacting us by email at&nbsp;info@shaka-zulu.com.</p>

<p><span>You have a right to request a copy of the personal information that&nbsp;Shaka Zulu&nbsp;holds about you and have any inaccuracies corrected. Any such requests should be made to this email address:&nbsp;info@shaka-zulu.com</span></p>

<p>You have the right to withdraw your consent to us using your personal data at any time, and to request that we delete it. We do not keep your personal data for any longer than is necessary in light of the reason(s) for which it was first collected. Data will, therefore, be retained for the following periods (or its retention will be determined on the following basis):</p>

<p><span>Booking Information: 1 year</span></p>

<p>Job application information: 1 month&nbsp;</p>

<p><span>Marketing Information: for as long as we have your consent</span></p>

<h2>Scan Net</h2>
<p>Scan Net is a computer system which takes a scanned copy of the Identification volunteered by the public. It checks age and whether individuals are listed on a database of people who have been barred from the scanning venue and if alerts have been created by other venues in the database. Scan Net is used to help achieve the aim of providing a safe and enjoyable environment for the public.</p>
<p>After 10pm all guests are required to have their ID Scanned, failure to do this will result in refusal of admission.</p>

<h2>Security</h2>

<p><span>Data security is very important to us, and to protect your data we have taken suitable measures to safeguard and secure data collected through our Site.</span></p>

<h2>Use of ‘cookies’</h2>

<p><span>Like many other websites, we use cookies. We use them to help you personalise your online experience.</span></p>

<p>A cookie is a text file that is placed on your hard disk by a web page server which allows the website to recognise you when you visit. Cookies only collect data about browsing actions and patterns, and do not identify you as an individual.<span><br></span>
	<br><span>We use cookies for the following purposes:&nbsp;</span></p>

<p>Authentication, personalisation and security: cookies help us verify your account and device and determine when you log in, so we can make it easier for you to access the services and provide the appropriate experiences and features. We also use cookies to help prevent fraudulent use of login credentials.</p>

<ul>
	<li>

		<p><span>Performance and analytics: cookies help us analyse how the services are being accessed and used, and enable us to track the performance of the services. For example, we use cookies to determine if you viewed a page or opened an email. This helps us provide you with information that you find interesting. We also use cookies to provide insights regarding your End Users and your sites’ performance, such as page views, conversion rates, device information, visitor IP addresses, and referral sites.</span></p>
	</li>
	<li>

		<p>Third Parties: Third Party services may use cookies to help you sign into their services from our services. We also may use third-party cookies, such as Google Analytics, to assist with analysing performance. Any third party cookie usage is governed by the privacy policy of the third party placing the cookie.</p>
	</li>
	<li>

		<p><span>Opting Out: You can set your browser to not accept cookies, but this may limit your ability to use the services.</span></p>
	</li>
</ul>

<p>Our Site may contain links to other websites. Please note that we have no control over how your data is collected, stored, or used by other websites and we advise you to check the privacy policies of any such websites before providing any data to them.</p>

<h2>W<span>hat happens if our business changes hands?</span></h2>

<p>We may, from time to time, expand or reduce our business and this may involve the sale and/or the transfer of control of all or part of our business. Any personal data that you have provided will, where it is relevant to any part of our business that is being transferred, be transferred along with that part. The new owner or newly controlling party will, under the terms of this Privacy Policy, be permitted to use that data only for the same purposes for which it was originally collected by us.</p>

<h2><span>Changes to this statement</span></h2>

<p>Shaka Zulu&nbsp;will occasionally update this Privacy Policy to reflect company and customer feedback.&nbsp;Shaka Zulu&nbsp;encourages you to periodically review this statement to be informed of how&nbsp;we are protecting your information. This policy was last updated in&nbsp;April 2018</p>

<h2><span>Contact Information</span></h2>

<p>Shaka Zulu&nbsp;welcomes your comments regarding this Privacy Policy. If you believe that&nbsp;we have not adhered to this Privacy Policy, please contact&nbsp;us&nbsp;at&nbsp;info@shaka-zulu.com. We will aim to use commercially reasonable efforts to promptly determine and remedy the problem.</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

{% endblock %}
