{% extends "layouts/default.htm" %}

{% block top %}
<div class="rotator" data-images='["/images/restaurant/1.jpg", "/images/restaurant/2.jpg", "/images/restaurant/3.jpg", "/images/restaurant/4.jpg", "/images/restaurant/5.jpg", "/images/restaurant/6.jpg", "/images/restaurant/7.jpg", "/images/restaurant/8.jpg", "/images/restaurant/9.jpg"]' data-title="{{ title }}">
    <div class="uk-container">
        <h1>{{ title }}</h1>
    </div>
    <div class="rotator-pagination">
        <a href="#" title="{{ title }}" data-item="0" onclick="loadTopImage(this); return false;"></a>
        <a href="#" title="{{ title }}" data-item="1" onclick="loadTopImage(this); return false;"></a>
        <a href="#" title="{{ title }}" data-item="2" onclick="loadTopImage(this); return false;"></a>
        <a href="#" title="{{ title }}" data-item="3" onclick="loadTopImage(this); return false;"></a>
        <a href="#" title="{{ title }}" data-item="4" onclick="loadTopImage(this); return false;"></a>
        <a href="#" title="{{ title }}" data-item="5" onclick="loadTopImage(this); return false;"></a>
        <a href="#" title="{{ title }}" data-item="6" onclick="loadTopImage(this); return false;"></a>
        <a href="#" title="{{ title }}" data-item="7" onclick="loadTopImage(this); return false;"></a>
        <a href="#" title="{{ title }}" data-item="8" onclick="loadTopImage(this); return false;"></a>
    </div>
</div>
{% endblock %}

{% block content %}

<h2>Restaurant</h2>
<p>The heart of the restaurant is where the "Theatre of Food" comes alive! Our world class chefs stoke the fires creating a multitude of wondrous dishes from the best and freshest ingredients in our open plan kitchen.</p>
<p>This spectacular venue is set over two floors and boasts a fully-equipped kitchen on each level. With a total capacity of 850, the main A La Carte restaurant is located on the lower level featuring open flame grills offering diverse cuisine from all parts of South Africa and beyond.</p>
<p>Our Executive Head Chef has carefully designed and created a traditional menu showcasing the originality and flair of his homeland South African cuisine. And for the more adventurous diners who are looking for a true culinary experience of South Africa we also offer game meats such as Wild Boar, Buffalo, and Zebra.</p>

<p>&nbsp;</p>

<div class="uk-grid">
    <div class="uk-width-small-1-2">
        <a href="/menus/A%20La%20Carte%20Menu.pdf" title="A La Carte" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> A La Carte Menu</a>
    </div>
    <div class="uk-width-small-1-2">
        <a href="/menus/Shield%20Menu.pdf" title="Shield Menu" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> Shield Menu</a>
    </div>
</div>
<div class="uk-grid">
    <div class="uk-width-small-1-2">
        <a href="/menus/Kids%20Activity%20Sheet.pdf" title="Kids Activity Sheet" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> Kids Activity Sheet</a>
    </div>
    <div class="uk-width-small-1-2">
        <a href="/menus/Dessert%20Menu.pdf" title="Dessert Menu" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> Dessert Menu</a>
    </div>
</div>
<div class="uk-grid">
    <div class="uk-width-small-1-2">
        <a href="/menus/Halal%20Menu.pdf" title="Halal Menu" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> Halal Menu</a>
    </div>
    <div class="uk-width-small-1-2">
        <a href="/menus/Wine%20List.pdf" title="Wine List" class="button"><i class="uk-icon-file-pdf-o uk-icon-justified"></i> Wine List</a>
    </div>
</div>

{% endblock %}

{% block sidebar %}
{#<div id="offers">
    <a href="/images/home/offer2.jpg" title="Steak Mondays"><img src="/images/home/offer2.jpg" title="Steak Mondays" /></a>
    <a href="/images/home/offer5.jpg" title="Free Bottle of Wine"><img src="/images/home/offer5.jpg" title="Free Bottle of Wine" /></a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
<script>
$('#offers').slick({
    autoplay: true,
    slidesToShow: 1,
    slidesToScroll: 1,
    dots: true,
    arrows: false
});
</script>#}
{% endblock %}
