{% extends "layouts/default.htm" %}

{% block top %}
<div class="rotator" data-title="{{ title }}">
    <img src="/images/giftcards/1.jpg" alt="{{ title }}" class="active" />
    <div class="uk-container">
        <h1>{{ title }}</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<h1>Vouchers</h1>
<p>With our new <strong style="color: #c9b67e;">"Voucher experiences"</strong>, it’s now even easier to treat yourself or a loved one to a fantastic post-lockdown meal, complete with our mouth-watering cocktails, signature dishes and great entertainment all in the incredible setting of Shaka Zulu.</p>

{% endblock %}

{% block extra %}

<div class="uk-grid">
    <div class="uk-width-medium-1-2">
        <h2>So how does it work?</h2>
        <p>Purchase one of our amazing vouchers to treat yourself or a special someone to a night out at Shaka Zulu.</p>
    </div>
    <div class="uk-width-medium-1-2">
        <div data-site-id="2cc06672-8d53-494d-874a-7df3bcdd607f" data-platform="Other" class="gift-up-target"></div>
        <script type="text/javascript"> (function (g, i, f, t, u, p, s) { g[u] = g[u] || function() { (g[u].q = g[u].q || []).push(arguments) }; p = i.createElement(f); p.async = 1; p.src = t; s = i.getElementsByTagName(f)[0]; s.parentNode.insertBefore(p, s); })(window, document, "script", "https://cdn.giftup.app/dist/gift-up.js", "giftup"); </script>
    </div>
</div>
{% endblock %}
